<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangrui.bbt.beans.Order">
 
  <resultMap type="Order" id="OrderResultMap">
      <id column="order_id" property="orderID"/>
      <result column="user_id" property="userID"/>
      <result column="order_date" property="orderDate"/>
      <result column="status" property="status"/>
      <association property="address">
         <id column="address_id" property="addressID"/>
         <result column="user_id" property="userID"/>
         <result column="phone" property="phone"/>
         <result column="address" property="address"/>
      </association>
      <collection property="details" resultMap="com.wangrui.bbt.beans.OrderDetail.OrderDetailResultMap">
        
      </collection>
  </resultMap>

   <select id="selectByID" parameterType="int" resultMap="OrderResultMap"> 
   select * from t_orders o join t_order_details d on o.order_id=d.order_id join t_address a on o.address_id=a.address_id
join t_goods g on d.goods_id=g.goods_id where o.order_id=#{id}
   </select>

   <select id="selectByUserID" parameterType="int" resultMap="OrderResultMap">
      select *　from t_orders where user_id=#{id}
   </select> 

</mapper>
